/* CONTAINERS */
.container-lg {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-xlg);
  padding: 0 24px;
}

.container-md {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-lg);
  padding: 0 16px;
}

.container-sm {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-md);
  padding: 8px;
}

.container-xsm {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-sm);
  padding: 4px;
}

/* DISPLAY */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

/* FONTES */
.font-sm {
  font-size: var(--font-sm);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-md {
  font-size: var(--font-md);
}

.font-xmd {
  font-size: var(--font-xmd);
}

.title-1 {
  font-weight: 700;
  font-size: var(--font-title-1);
}

.title-2 {
  font-weight: 700;
  font-size: var(--font-title-2);
}

.title-3 {
  font-weight: 700;
  font-size: var(--font-title-3);
}

.bold {
  font-weight: 600;
}

.lighter {
  font-weight: 300;
}

.border {
  border: 3px solid red;
}

.mt {
  margin-top: var(--margin-lg);
}

.mb {
  margin-bottom: var(--margin-lg);
}

.margin {
  margin: var(--margin);
}

.padding-md {
  padding: var(--padding-md);
}

.padding-sm {
  padding: var(--padding-sm);
}

.padding-lg {
  padding: var(--padding-lg);
}

/* SHADOW */
.shadow-sm {
  box-shadow: 0 1px 8px var(--color-shadow);
}

.shadow-md {
  box-shadow: 6px 6px 12px var(--color-shadow);
}

.shadow-lg {
  box-shadow: 6px 12px 16px var(--color-shadow);
}

/* TAGS */
.btn {
  width: 160px;
  padding: 0 var(--padding-lg);
  font-size: var(--font-xmd);
  font-weight: 600;
  border-radius: var(--radius-sm);
  border: 0;
  opacity: 0.9;
  box-shadow: 0 0px 4px var(--color-shadow);
}

.btn.loading img {
  width: 1.1em;
}

.btn:hover {
  box-shadow: 2px 2px 10px var(--color-shadow);
  transform: translateX(2px);
}

.btn.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.input {
  border: 0;
  margin-top: var(--margin);
  border-radius: var(--radius-sm);
  padding: var(--padding-sm) var(--padding-md);
  font-size: var(--font-md);
  min-height: 30px;
  background-color: var(--gray-light);
  opacity: 0.9;
  box-sizing: border-box;
  box-shadow: 0 1px 2px var(--color-shadow);
}

.input:hover,
.input:focus {
  background-color: var(--color-light);
  opacity: 1;
  transform: translateX(2px);
  box-shadow: -1px 2px 3px var(--color-shadow);
}

.input.invalid {
  background-color: var(--danger-text);
  color: var(--danger);
  caret-color: var(--danger);
  position: relative;
  box-shadow: 0 0 1px 1px var(--danger);

  animation: shake 0.3s;
}

.input.invalid::placeholder {
  color: var(--danger-placeholder);
}

.checkbox {
  width: 20px;
  height: 20px;
}

/* Hover */
.hover-under:hover {
  text-decoration: underline;
}

.hover-opacity {
  opacity: 0.85;
  transition: 0.35s ease;
}

.hover-opacity:hover {
  opacity: 1;
}

/* ALERTS */
.alert {
  width: 100%;
  border-radius: var(--radius-sm);
  padding: var(--padding-sm) var(--padding-md);
  border: 1px solid var(--color-shadow);
  opacity: 0;
  box-shadow: 1px 1px 2px var(--color-shadow);
  transition: 0.4s ease;
  margin-left: -40px;
  align-self: flex-start;
}

.alert.show {
  opacity: 1;
  margin-left: 0px;
}

.alert.error {
  background-color: var(--danger-text);
  color: var(--danger);
  font-weight: 500;
  border: 1px solid var(--danger);
}

small.alert.error {
  font-weight: normal;
  color: #c20e0e;
  border: none;
  box-shadow: none;
  font-size: var(--font-sm);
  background-color: transparent;
}

#alertas {
  max-width: 95%;
}

.alert.success {
  background-color: var(--success);
  color: var(--success-text);
  font-weight: 500;
  border: 1px solid var(--success-text);
}

.alert.warning {
  background-color: var(--warning);
  font-weight: 500;
  color: var(--warning-text);
  border: 1px solid var(--warning-text);
}

span.alert.show:hover {
  margin-left: 8px;
  box-shadow: -4px 4px 8px var(--color-shadow);
}

/* TOOLTIPS */
[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  top: 95%;
  transform: translateX(-10px);
  transition: 0.5s ease 0.4s;
  padding: 4px 6px;
  user-select: none;
  min-width: 60px;
  font-size: var(--font-sm);
  color: var(--color-dark);
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 2px 3px var(--color-shadow);
  background-image: linear-gradient(#f5f5f5, #d1d1d1ff);
  z-index: 888;
  opacity: 0;
}

[data-title]:hover:after {
  opacity: 1;
  transform: translateX(0);
  top: 110%;
}

/* MODAL */
body > .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #2228;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
