/* CONTAINERS */
.container-lg {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-xlg);
  padding: 0 24px;
}

.container-md {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-lg);
  padding: 0 16px;
}

.container-sm {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-md);
  padding: 8px;
}

.container-xsm {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-sm);
  padding: 4px;
}

/* DISPLAY */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

/* FONTES */
.font-sm {
  font-size: var(--font-sm);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-md {
  font-size: var(--font-md);
}

.font-xmd {
  font-size: var(--font-xmd);
}

.title-1 {
  font-weight: 700;
  font-size: var(--font-title-1);
}

.title-2 {
  font-weight: 700;
  font-size: var(--font-title-2);
}

.title-3 {
  font-weight: 700;
  font-size: var(--font-title-3);
}

.bold {
  font-weight: 600;
}

.lighter {
  font-weight: 300;
}

.border {
  border: 3px solid red;
}

.mt {
  margin-top: var(--margin-lg);
}

.mb {
  margin-bottom: var(--margin-lg);
}

.margin {
  margin: var(--margin);
}

.padding-md {
  padding: var(--padding-md);
}

.padding-sm {
  padding: var(--padding-sm);
}

.padding-lg {
  padding: var(--padding-lg);
}

/* SHADOW */
.shadow-sm {
  box-shadow: 0 1px 8px var(--color-shadow);
}

.shadow-md {
  box-shadow: inset 4px 4px 16px #d5d5d588,
    inset -4px -4px 16px var(--color-shadow);
}

.shadow-lg {
  box-shadow: 12px 12px 32px var(--color-shadow)
}

/* TAGS */
.btn {
  width: 160px;
  padding: 0 var(--padding-lg);
  font-size: var(--font-xmd);
  font-weight: 600;
  border-radius: var(--radius-sm);
  border: 0;
  opacity: 0.9;

}

.btn:hover,
.btn:focus {
  opacity: 1;
}

.btn.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.input {
  border: 0;
  margin-top: var(--margin);
  border-radius: var(--radius-sm);
  padding: var(--padding-sm) var(--padding-md);
  font-size: var(--font-md);
  min-height: 30px;
  opacity: 0.9;
  box-sizing: border-box;
}
.input.invalid{
  background-color: #f8cbd0;
  color: #e61818;
  caret-color: #e61818;
  position: relative;
  box-shadow: 0 0 1px 1px #e61818;
}
.input.invalid::placeholder{
  color: #e61818cc;
}


.input:hover,
input:focus {
  opacity: 1;
}

.checkbox {
  width: 20px;
  height: 20px;
}

/* Hover */
.hover-under:hover {
  text-decoration: underline;
}

.hover-opacity {
  opacity: .85;
  transition: .35s ease;
}

.hover-opacity:hover {
  opacity: 1;
}

/* ALERTS */
.alert {
  width: 100%;
  border-radius: var(--radius-sm);
  padding: var(--padding-sm) var(--padding-md);
  border: 1px solid var(--color-shadow);
  opacity: 0;
  box-shadow: 1px 1px 2px var(--color-shadow);
  transition: .4s ease;
  margin-left: -40px;
}

.alert.show {
  opacity: 1;
  margin-left: 0px;
}

.alert.error {
  background-color: #f9b0b8;
  color: #e61818;
  font-weight: 500;
  border: 1px solid #e61818;
}
small.alert.error{
  font-weight: normal;
  color: #c20e0e;
  border: none;
  box-shadow: none;
  font-size: var(--font-sm);
  background-color: transparent;
}

.alert.success {
  background-color: #7efd9c;
  color: #107527;
  font-weight: 500;
  border: 1px solid #188732;
}

.alert.warning {
  background-color: #ffdb70;
  font-weight: 500;
  color: #b88a00;
  border: 1px solid #b88a00;
}

/* TOOLTIPS */
[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  top: 90%;
  transform: translateX(-10px);
  transition: .5s ease .4s;
  padding: 4px 6px;
  min-width: 60px;
  font-size: var(--font-sm);
  color: var(--color-dark);
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 2px 3px var(--color-shadow);
  background-image: linear-gradient(#f5f5f5, #d1d1d1ff);
  z-index: 888;
  opacity: 0;
}

[data-title]:hover:after {
  opacity: 1;
  transform: translateX(0);
  top: 95%;
}