<div class="container-lg">
    <div class="logo">
        <a href="/">
            <img src="../../imagens/magna/logoBranco.png" alt="Magna, Logotipo, Empresa">
        </a>
    </div>
    <div class="footer-meio flex-center">
        <span class="endereco">Av. Angélica, 1048 São Paulo - SP, 01227100
        </span>
        <span class="copyright">Copyright © 2010-2022 Magna Company S.L. Todos os direitos reservados.</span>
    </div>
    <div class="footer-redes">
        <span class="email">magna.sptech@gmail.com</span>
        <div class="redes-sociais">
            <a href="https://www.facebook.com/MagnaItda" class="icon" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/magnaltda/" class="icon" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/magna-ltda-34bb29236/" class="icon" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="mailto:magna.sptech@gmail.com?body=Bom%20dia!" class="icon" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-google"></i>
            </a>
        </div>
    </div>
</div>