<div class="navbar container-lg ">
    <div class="logo">
        <a href="/">
            <img src="../../image/magna/logoBranco2.png" alt="Logotipo, Logo, Image, Magna">
        </a>
    </div>
    <ul class="menu">
        <li class="item" title="Inicio"><a href="/" class="link">Inicio</a></li>
        <li class="item" title="Contato"><a href="/" class="link">Contato</a></li>
        <li class="item" title="Simulador Financeiro"><a href="simulador.html" class="link">Simulador</a></li>
        <li class="item" title="Entrar"><a href="login.html" class="link">Entrar</a></li>
        <li class="item destaque" title="Cadastrar"><a href="/cadastro.html" class="link">Cadastrar</a></li>
    </ul>
</div>