:root {
  /* Theme */
  --gray: #c8cfd3;
  --gray-dark: #3c3f41;
  --gray-light: #ecf8ff;
  --success: #7efd9c;
  --success-text: #118d2e;
  --info: #17a2b8;
  --warning: #ffdb70;
  --warning-text: #b88a00;
  --danger: #e61818;
  --danger-text: #f8cbd0;

  /* Project */
  --color-primary: #e83847;
  --color-accent: #4ba3c3;
  --color-accent-dark: #1d3557;
  --color-dark: #2a2a2a;
  --color-shadow: rgba(61, 61, 61, 0.3);
  --color-light: #fffcec;
  --color-white: #f5f5f5;
}