.container_login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container_login .nav_bar_login {
    width: 100%;
    padding: var(--margin-container) 20px;
    max-width: var(--size-xlg);
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    background-color: var(--color-accent);
    border-radius: var(--radius-lg);
    align-items: center;
}

.container_login .box_login {
    width: 50%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    justify-content: space-evenly;
    border-radius: 10px;
    padding: var(--padding-md);
}

.container_login .box_login .h1-login {
    color: var(--color-dark);
    margin: var(--padding-lg) 0;
}

.container_login .box_login a {
    margin: var(--padding-sm) 0;
}

.container_login .box_login .container-input {
    display: flex;
    flex-direction: column;
    margin: var(--padding-sm) 0 var(--padding-md);

}

.container_login .box_login #crie {
    color: var(--danger);
    text-decoration: underline;
}

.container_login button {
    margin: var(--padding-lg) 0;
    width: 150px;
    height: 40px;
    align-self: flex-end;
}

.container_login .box_img {
    width: 50%;
    max-width: 350px;
    height: 100%;
}

.container_login .box_img img {
    width: 100%;
    height: 100%;
}