.conteudo-setor-list {
  background-color: var(--color-accent);
  border-radius: var(--radius-sm);
  padding: 40px 20px;
  overflow: auto;
  height: min-content;
  color: var(--color-light);

  max-height: 400px;
  overflow: auto;
}

.setores {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.conteudo-setor-list .table-title {
  letter-spacing: 1px;
}

div .table {
  width: 100%;
  min-width: 400px;
  border-radius: 8px;
  border-spacing: 0px;
  border-collapse: separate;
  overflow: auto;
  max-height: 200px;
  background-color: var(--color-accent-dark);
}

.table thead tr {
  border-radius: 8px;
}

.table thead {
  height: 30px;
  margin: auto;
  background: var(--color-dark);
}

.table td,
.table th[scope="row"],
.table thead th {
  /* border: 1px solid var(--color-shadow); */
  vertical-align: middle;
}

.table th[scope="row"],
.table td {
  max-width: 300px;
  text-align: center;
  padding: 6px 8px;
  font-size: var(--font-md);
}

.table-striped tbody tr:nth-child(odd) {
  background-color: var(--gray);
  color: var(--color-dark);
}

.container_input {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-lg);
}

.container_input.dividido {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_input.dividido > * {
  width: 100%;
  height: 100%;
  max-width: 48%;
}

.btn-setor {
  width: 220px;
  height: 40px;
  margin-top: var(--margin-lg);
  align-self: flex-end;
}

.container_input span {
  margin-top: 10px;
}
